<div class="control-group">
  <label for="title" class="control-label">title</label>
  <div class="controls">
    <%- contentTag('input', step.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>
<div class="control-group">
  <label for="description" class="control-label">description</label>
  <div class="controls">
    <%- contentTag('input', step.description, {type:'text', class:'span6', name:'description'}) %>
  </div>
</div>
<div class="control-group">
  <label for="text" class="control-label">text</label>
  <div class="controls">
    <%- contentTag('input', step.text, {type:'text', class:'span6', name:'text'}) %>
  </div>
</div>
<div class="control-group">
  <label for="status" class="control-label">status</label>
  <div class="controls">
    <%- contentTag('input', step.status, {type:'text', class:'span6', name:'status'}) %>
  </div>
</div>
